<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacking Interface</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="glitch-container">
        <h1 class="glitch" data-text="From where it started">From where it started</h1>
          <h3 class="glitch" data-text="From where it started">The language barely understood by humans</h3>
        <p class="subtext">System compromised. Erasing the data fast...</p>
    </div>

    <div class="popup" id="popup">
        <p>WARNING: Files are being deleted! be fast</p>
        <button onclick="closePopup()">Dismiss</button>
    </div>

    <script src="static/js/script.js"></script>
</body>
</html> 
